<html>
<head>
	<title>
		Home
	</title>
</head>
<body>
	<form action="{% url 'teachers' %}" method="post">
		{% csrf_token %}
		<button type="submit" style="border: 2px solid black; font-size: large;">
			View Teachers
		</button>
	</form>
	<form action="{% url 'courses' %}" method="post">
		{% csrf_token %}
		<button type="submit" style="border: 2px solid black; font-size: large;">
			View Courses
		</button>
	</form>
	<p>
		<a href="{% url 'report'%}">
			PDF report
		</a>
	</p>
</body>
</html>
